body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "lobster", "cursive";
}

h2 {
    color: #3046c5;
}

header h2 {
    color: #cec8ff;
}

.site-footer {
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}

.jumbotron {
    padding: 30px;
    margin: 0;
    background-image: linear-gradient(to right, #5637DD, #30465C, #60106B);
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}
   
.navbar-dark {
    background-color: #901CAD;
}

.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: solid #5637DD;
}

#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
}